---
import type { Language } from '@/config/i18n';

interface Props {
  lang: Language;
}

const { lang } = Astro.props;

const currentYear = new Date().getFullYear();
const copyright = lang === 'en' ? '© All rights reserved' : '© Все права защищены';
---

<footer>
  <div class="container">
    <p class="text-secondary text-sm">
      {currentYear} Prometheus. {copyright}
    </p>
  </div>
</footer>

<style>
  footer {
    margin-top: auto;
    padding-block: var(--spacing-xl);
    border-top: 1px solid var(--color-border);
    view-transition-name: footer;
  }

  p {
    text-align: center;
  }
</style>
